.header {
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    height: 3rem;
  }
  &__input-container {
    width: inherit;
    margin-right: auto;
    padding: 1.25rem 2rem;
    border-radius: 0.6rem;
    background-color: #f1f1f1;

    display: flex;
  }
  &__input-section {
    flex: 0 0 30%;
    position: relative;
  }
  &__input-details {
    position: absolute;
    width: 100%;
    height: 0;
    overflow: hidden;
    background-color: red;
    top: 4.5rem;
    transition: height 0.5s ease;
    &.active {
      height: 10rem;
    }
  }
  &__input {
    border: none;
    width: 100%;
    background-color: transparent;
    &:focus {
      outline: none;
    }
  }
  &__profile-container {
    display: flex;
    align-items: center;
    img {
      height: 4rem;
      width: 4rem;
      border-radius: 50%;
    }
  }
  &__icon-container {
    display: flex;
    & > * {
      margin-left: 3rem;
    }
  }
}
