.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 0;
  overflow: hidden;
  background-color: #fbfbfb;
  overflow-y: scroll;
  white-space: nowrap;

  transition: width 0.5s;
  &.show {
    width: 30rem;
  }
  &__content {
    height: 100%;
    width: 100%;
    position: relative;
    padding: 2rem;
    padding-top: 2rem;
  }
  &__close {
    position: absolute;
    right: 2rem;
    top: 2rem;
    background-color: white;
    border: none;
    font-weight: 700;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    color: #777;
    box-shadow: 0.5rem 1rem 1rem rgba($color: #000000, $alpha: 0.15);
  }
  &__dropdown {
    svg {
      height: 1.4rem;
      width: 1.4rem;
      margin-right: 1rem;
      fill: #777;
    }
    &-menu {
      border-top: 1px solid #f1f1f1;
      border-bottom: 1px solid #f1f1f1;
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 0.7rem 0;

      &:hover {
        background-color: #f1f1f1;
      }
    }
    &-content {
      background-color: white;
      display: none;
      &.show {
        display: block;
      }
      button {
        display: flex;
        align-items: center;
        width: 100%;
        background-color: transparent;
        border: none;
        font-size: inherit;
        padding: 0.7rem 0;
        padding-left: 2rem;
        border-bottom: 1px solid #f1f1f1;
        text-align: left;

        cursor: pointer;
        &:focus {
          outline: none;
        }
        &:hover {
          background-color: #f1f1f1;
        }
      }
    }
  }
}
